.App {
  font-family: 'Rubik', sans-serif;
}

.header {
  box-shadow: none;
}

.activeLink {
  color:#23985F!important;
}

.bottomnavitem {
  padding-left: 9.3%;
  padding-right: 9.3%;
  color: black;
  width: 25%;

}

.tab {
  width: 25%;
  color: #009860!important;
  font-family: 'Rubik', sans-serif;
}

.tab.selected > .MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #009860!important;
  color: white;
  padding: 6px 0px;
  border-radius: 5px;
}

.MuiTab-wrapper {
  background-color: #dedede!important;
  color: black;
  padding: 6px 0px;
  border-radius: 5px;
}

.removeLine {
  border: none!important;
}


.tabHome {
  width: 50%;
  color: #009860!important;
  font-family: 'Rubik', sans-serif;
}

.tabs {
  background-color: #292B4E;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
}

.tabpanel {
  height: 80vh;
}

.paper {
  border: none;
  outline: none;
}

.headerTitle {
  flex-grow: 1;
  text-align: center;
  /*font-family: 'Russo One', sans-serif;*/
  letter-spacing: 1px;
  font-size: 2ch;
  font-family: 'Alfa Slab One', cursive;
}