html, body {
  background-color: #292B4E;
}

.App {
  font-family: 'Rubik', sans-serif;
  background-color: #292B4E;
}

.header {
  box-shadow: none;
}

.activeLink {
  color:#39D1E0!important;
}

.activeLinkHome {
  color: white!important;
}

.bottomnavitem {
  padding-left: 3.5%;
  padding-right: 3.5%;
  color: white;
  margin-left: 5.5%;
  vertical-align: middle;
}

.bottomnavitemHome {
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  margin-left: 4%;
  font-size: 1vw;
  vertical-align: middle;
  
}

.tab {
  width: 25%;
  color: #39D1E0!important;
  font-family: 'Rubik', sans-serif;
}

.tab.selected > .MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #39D1E0;
  padding: 12px 0px;
  border-radius: 5px;
}

.MuiTab-wrapper {
  background-color: transparent;
  color: white;
  padding: 12px 00px;
  border-radius: 5px;
}

.removeLine {
  border: none!important;
}


.tabHome {
  width: 50%;
  color: #39D1E0!important;
  font-family: 'Rubik', sans-serif;
}

.tabHome.selected > .MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #39D1E0;
  padding: 12px 0px;
  border-radius: 5px;
}

.tabs {
  background-color: #292B4E;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
}

.tabpanel {
  height: 80vh;
  background-color: #292B4E;
}

.paper {
  border: none;
  outline: none;
}

.headerTitle {
  flex-grow: 1;
  text-align: center;
  /*font-family: 'Russo One', sans-serif;*/
  letter-spacing: 1px;
  font-size: 2ch;
  font-family: 'Alfa Slab One', cursive;
  color: white;
}

.exerciseBlock {
  background-color: #353766!important;
  color: white!important;
  border-radius: 10px;
  margin-bottom: 10px;
}

.listItemPersonal {
  background-color: #353766;
  border-radius: 10px;
  color: white;
  padding-left: 40px!important;
}
